body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #faf2ee;
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
